.page {
  background-color: #f3f3f3;
}

.page__content {
  position: relative;
  min-height: 100vh; /* Ensure the content takes at least full viewport height */
  height: auto; /* Allow height to adjust based on content */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
}

body {
  font-family: "Cabinet Grotesk", sans-serif; /* Apply font family */
  font-weight: 700; /* Apply font weight */
  font-size: 20px; /* Apply font size */
  line-height: 24px; /* Apply line height */
  letter-spacing: 0%; /* Apply letter spacing */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  box-sizing: border-box; /* Ensure consistent box sizing */
}

.App, .page {
  position: relative; /* So overlay is positioned relative to this */
}