.page {
  background-color: #f3f3f3;
}

.page__content {
  width: 100%; /* Ensure it takes up the full width */
  max-width: none; /* Remove any maximum width restriction */
  height: 100%; /* Ensure it fills the height of the parent */
  margin: 0 auto; /* Center the content horizontally */
  padding: 16px; /* Optional: Add padding */
  box-sizing: border-box;
}

body {
  font-family: "Cabinet Grotesk", sans-serif; /* Apply font family */
  font-weight: 700; /* Apply font weight */
  font-size: 20px; /* Apply font size */
  line-height: 24px; /* Apply line height */
  letter-spacing: 0%; /* Apply letter spacing */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  box-sizing: border-box; /* Ensure consistent box sizing */
}
