.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.weather-card__temp {
  font-family: "Cabinet Grotesk", sans-serif; /* Apply the desired font */
  font-weight: 700; /* Adjust font weight */
  font-size: 36px; /* Adjust font size */
  line-height: 24px; /* Adjust line height */
  letter-spacing: 0%; /* Adjust letter spacing */
  color: rgba(255, 255, 255, 1);
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row */
  gap: 16px; /* Adds spacing between cards */
  justify-content: flex-start; /* Align cards to the left */
  align-items: flex-start; /* Align cards to the top */
}