.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 28px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px; /* Space between logo and date/location */
}

.header__logo {
  margin-right: 12px; /* Optional: Adjust spacing between logo and date */
  font-family: Cabinet Grotesk;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__date-and-location {
  margin: 0;
}

.header__right {
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 20px; /* Space between button, toggle switch, and profile */
}

.header__add-clothes-btn {
  margin-left: 0 20px 0 20px;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__user-container {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically align items */
  gap: 12px; /* Add spacing between the username and avatar */
}

.header__profile-link {
  display: flex; /* Align username and avatar horizontally */
  align-items: center; /* Vertically align items */
  gap: 12px; /* Add spacing between the username and avatar */
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit color for the link */
}

.header__avatar {
  width: 40px; /* Set a fixed width for the avatar */
  height: 40px; /* Set a fixed height for the avatar */
  border-radius: 50%; /* Optional: Make the avatar circular */
}

.header__username {
  margin: 0;
  padding-right: 12px;
  padding-left: 0px;
  color: black; /* Explicitly set text color to black */
  font-weight: 700; /* Optional: Add font weight if needed */
}

.header__user-info {
  display: flex;
  align-items: center; /* Vertically align username and avatar */
  gap: 10px; /* Add spacing between username and avatar */
}

.header__signup-button {
  border: none; /* Removes the border */
  background: none; /* Optional: Removes any background color */
  padding: 10px 20px; /* Optional: Adjust padding for better appearance */
  font-size: 16px; /* Optional: Adjust font size */
  cursor: pointer; /* Ensures the button has a pointer cursor */
}

.header__login-button {
  border: none; /* Removes the border */
  background: none; /* Optional: Removes any background color */
  padding: 10px 20px; /* Optional: Adjust padding for better appearance */
  font-size: 16px; /* Optional: Adjust font size */
  cursor: pointer; /* Ensures the button has a pointer cursor */
}
