.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px; /* Set footer width */
  margin-left: 40px; /* 40px from the left */
  margin-bottom: 24px;
  height: 20px;
}

.footer__name {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

.footer__year {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}
