@import url(./vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Cabinet+Grotesk:wght@700&display=swap");

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("./assets/fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("./assets/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
